# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
.vscode
.vs/

# Common node modules locations
node_modules

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
global.json


#sonar
.scannerwork

# End of https://www.gitignore.io/api/dotnetcore

BuildReports
TestResults
tools
reportgeneratortool
.store
.sonarqube
dotnet-sonarscanner